[submodule "src/baxter"]
	path = src/baxter
	url = https://github.com/RethinkRobotics/baxter
[submodule "src/catkin_simple"]
	path = src/catkin_simple
	url = https://github.com/catkin/catkin_simple
[submodule "src/baxter_common"]
	path = src/baxter_common
	url = https://github.com/gursoyege/baxter_common
[submodule "src/baxter_examples"]
	path = src/baxter_examples
	url = https://github.com/gursoyege/baxter_examples
[submodule "src/baxter_simulator"]
	path = src/baxter_simulator
	url = https://github.com/gursoyege/baxter_simulator
[submodule "src/baxter_tools"]
	path = src/baxter_tools
	url = https://github.com/gursoyege/baxter_tools
[submodule "src/baxter_interface"]
	path = src/baxter_interface
	url = https://github.com/gursoyege/baxter_interface
[submodule "src/moveit_robots"]
	path = src/moveit_robots
	url = https://github.com/ros-planning/moveit_robots
[submodule "src/moveit"]
	path = src/moveit
	url = https://github.com/ros-planning/moveit
[submodule "src/geometric_shapes"]
	path = src/geometric_shapes
	url = https://github.com/ros-planning/geometric_shapes
[submodule "src/moveit_msgs"]
	path = src/moveit_msgs
	url = https://github.com/ros-planning/moveit_msgs
[submodule "src/moveit_python"]
	path = src/moveit_python
	url = https://github.com/mikeferguson/moveit_python
[submodule "src/ros_controllers"]
	path = src/ros_controllers
	url = https://github.com/ros-controls/ros_controllers
[submodule "src/rviz_visual_tools"]
	path = src/rviz_visual_tools
	url = https://github.com/PickNikRobotics/rviz_visual_tools
